{% extends 'base.html' %}
{% block main %}
    <h2 class="mb-3">
        Record Payment
    </h2>
    <form action="" method="post" class="row g-3 w-75">
        {% csrf_token %}
        
        <div class="col-md-6">
            <label for="full_name" class="form-label" >Member</label>
            <select name="member_id" class="form-select" id="member_id" required>
                <option value="">select member</option>
                {% for member in members %}
                <option value="{{member.id}}">{{ member.full_name }} ({{member.user.username}})</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-6">
            <label for="plan" class="form-label" >Plan</label>
            <select name="plan_id" class="form-select" id="plan_id" required>
                <option value="">select Plan</option>
                {% for plan in plans %}
                <option value="{{plan.id}}">{{ plan.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" step="0.01" name="amount" id="amount" class="form-control" required>
        </div>


        <div class="col-md-3">
            <label for="payment_date" class="form-label">Payment Date</label>
            <input type="date" name="payment_date" id="payment_date" class="form-control" required>
        </div>

        <div class="col-md-3">
            <label for="mode" class="form-label">Mode</label>
            <select name="mode" id="mode" class="form-select">
                <option value="">Select Mode</option>
                <option value="CASH">Cash</option>
                <option value="ONLINE">Online</option>
            </select> 
        </div>

        <div class="col-md-3">
            <label for="status" class="form-label">Status</label>
            <select name="status" id="status" class="form-select">
                <option value="">Select Status</option>
                <option value="PAID">Paid</option>
                <option value="PENDING">Pending</option>
            </select> 
        </div>

        <div class="col-md-12">
            <label for="notes" class="form-label">Notes</label>
            <textarea rows="5" name="notes" id="notes" class="form-control" required></textarea>
        </div>

        <div class="col-md-12 border rounded p-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="set_membership" id="set_membership">
                <label for="set_membership" class="form-check-label">Also update members membership start/end date using this plan</label>
            </div>
            <div class="mt-2">
                <label for="" class="form-label">Membership Start Date</label>
                <input type="date" name="membership_start" class="form-control">
                <small>End date will be calculated as start date + plan duration X 30 days (approx..)</small>
            </div>
        </div>
        
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" >
                Save Payment
            </button>
            <a href="{% url 'admin_payments_list' %}" class="btn btn-secondary"> Cancel </a>
        </div>
    </form>
{% endblock %}