{% extends 'base.html' %}
{% block main %}
    <h2 class="mb-3">
        Add Workout / Deit Plan
    </h2>
    <form action="" method="post" class="row g-3 w-75">
        {% csrf_token %}
        
        <div class="col-md-6">
            <label for="full_name" class="form-label" >Member</label>
            <select name="member_id" class="form-select" id="member_id" required>
                <option value="">select member</option>
                {% for member in members %}
                <option value="{{member.id}}">{{ member.full_name }} ({{member.user.username}})</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control" required>
        </div>
        <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <textarea rows="5" name="description" id="description" class="form-control" required></textarea>
        </div>
        
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" >
                Save
            </button>
            <a href="{% url 'admin_workout_plans_list' %}" class="btn btn-secondary"> Cancel </a>
        </div>
    </form>
{% endblock %}